* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background-color: #fdfdfd;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 720pxr;
}

section {
  padding-top: 7vh;
  height: 100vh;
  width: 100%;
}

.nav-container {
  display: table;
  min-width: 320px;
  width: 100%;
  background-color: #fdfdfd;
  height: 6vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.nav-container #nav-bar {
  min-width: 320px;
  vertical-align: middle;
}

.nav-container #nav-bar #logo {
  top: 3px;
  float: left;
  margin-left: 3vh;
  vertical-align: middle;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 3vh;
  background: -webkit-linear-gradient(-45deg, #A059B2, #8259B2, #6559B2, #5969B2, #5987B2, #59A5B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-container #nav-bar #logo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-container #nav-bar ul {
  float: right;
  margin-right: 3vh;
}

.nav-container #nav-bar ul li {
  text-decoration: none;
  font-size: 2vh;
  display: inline;
  min-width: 320px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.nav-container #nav-bar ul li:hover {
  text-decoration: underline;
  color: black;
}

.nav-container #nav-bar a {
  position: relative;
  padding: 10px;
  text-decoration: none;
}

.nav-container #nav-bar a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-container #nav-bar a:visited {
  color: black;
}

.about-container {
  padding: 0 7vw;
}

.about-container #main-header h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: white;
}

.about-container #main-header #highlight1 {
  background-color: #5969B2;
  -webkit-box-shadow: 0 2px #8097ff;
          box-shadow: 0 2px #8097ff;
}

.about-container #main-header #highlight2 {
  background-color: #59A5B2;
  -webkit-box-shadow: 0 2px #7fecff;
          box-shadow: 0 2px #7fecff;
}

.about-container #main-header #highlight3 {
  color: black;
}

.about-container #main-text p {
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  color: black;
}

.project-container {
  margin-top: 7vh;
  margin: 0 auto;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagebox {
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 46%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.imagebox img {
  width: 100%;
}

.imagebox:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.header {
  padding: 0 7vw;
  font-weight: 200;
  display: inline-block;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
}

.icon-row {
  margin-top: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon-column-1 {
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
  max-width: 5%;
  padding: 0 10px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#icon-purple {
  padding: 30px;
  background-color: #a059b2;
  border: 10px solid #fdfdfd;
}

#icon-blue {
  padding: 30px;
  background-color: #6559b2;
  border: 10px solid #fdfdfd;
}

#icon-teal {
  padding: 30px;
  background-color: #59a5b2;
  border: 10px solid #fdfdfd;
}

#contact-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  color: black;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.icon-container {
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4vw;
}

.icon {
  padding: 0 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.wrap-container {
  margin-top: 5.7vh;
}

.header-container {
  padding: 0 7vw;
}

.resume-header {
  margin-top: 6vh;
  font-weight: 200;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.resume-header-link {
  margin-left: -2vw;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5987B2;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.resume-header-link:hover {
  cursor: pointer;
  color: #222222;
}

.contact-header {
  font-weight: 200;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.contact-header-link {
  margin-left: -2vw;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5987B2;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.contact-header-link:hover {
  cursor: pointer;
  color: #222222;
}

footer {
  margin-top: -12vh;
  text-align: center;
  width: 100%;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */