/*      STYLING
font-family: 'Space Mono', monospace;
font-family: 'Work Sans', Helvetica, Arial, sans-serif;
color: white;
color: black;


#8259B2 #A059B2 #59A5B2 #5969B2 #6559B2 #59A5B2
*/
* {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  color: black;
  background-color: #FDFDFD;
}

.wrap {
  margin: 10vh auto;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap:hover {
  cursor: move;
}

.nav-container {
  display: table;
  min-width: 320px;
  width: 100%;
  background-color: #fdfdfd;
  height: 6vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.nav-container #nav-bar {
  min-width: 320px;
  vertical-align: middle;
}

.nav-container #nav-bar #logo {
  top: 3px;
  float: left;
  margin-left: 3vh;
  vertical-align: middle;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 3vh;
  background: -webkit-linear-gradient(-45deg, #A059B2, #8259B2, #6559B2, #5969B2, #5987B2, #59A5B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-container #nav-bar #logo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-container #nav-bar ul {
  float: right;
  margin-right: 3vh;
}

.nav-container #nav-bar ul li {
  text-decoration: none;
  font-size: 2vh;
  display: inline;
  min-width: 320px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.nav-container #nav-bar ul li:hover {
  text-decoration: underline;
  color: black;
}

.nav-container #nav-bar a {
  position: relative;
  padding: 10px;
  text-decoration: none;
}

.nav-container #nav-bar a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-container #nav-bar a:visited {
  color: black;
}

.about-container {
  top: 0;
  padding: 0 10vw;
}

.about-container #main-header h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.about-container #main-header #highlight1 {
  color: white;
  background-image: linear-gradient(-225deg, #A059B2, #8259B2, #6559B2, #5969B2, #5987B2, #59A5B2);
}

.about-container #main-text p {
  margin-top: 5vh;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  color: black;
}

.wrap-container {
  margin-top: 8vh;
  padding: 5vw 9vw;
}

.project-container {
  margin-top: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
}

.imagebox {
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 45%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.imagebox img {
  width: 100%;
}

.imagebox:hover {
  cursor: pointer;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.header {
  font-weight: 200;
  display: inline-block;
  padding: 0 2vw;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
}

#contact-text {
  margin-top: 5vh;
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  color: black;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.icon-container {
  margin-top: 5vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 2rem;
}

.icon {
  padding-right: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.contact-header {
  font-weight: 200;
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.contact-header-link {
  font-size: 3em;
  line-height: 5rem;
  letter-spacing: 5px;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5987B2;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.contact-header-link:hover {
  cursor: pointer;
  color: #222222;
}

.cube,
.cube * {
  position: absolute;
}

.cube {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 50%;
}

.cube div a {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 3rem;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.cube div p {
  color: rgba(255, 255, 255, 0.3);
  top: 100px;
  padding: 5px;
  font-size: 1rem;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.face {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #ffffff solid 0.3em;
  margin: -8rem;
  width: 16rem;
  height: 16rem;
  text-align: left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.face:nth-child(1) {
  background-color: #B199CC;
}

.face:nth-child(2) {
  background-color: #C299CC;
}

.face:nth-child(3) {
  background-color: #99B3CC;
}

.face:nth-child(4) {
  background-color: #99A2CC;
}

.face:nth-child(5) {
  background-color: #A099CC;
}

.face:nth-child(6) {
  background-color: #99C4CC;
}

.cube div img {
  opacity: 0.025;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 200px;
  height: 200px;
  top: 56px;
  left: 54px;
}

.face:hover {
  cursor: move;
}

.face a:hover {
  cursor: pointer;
  color: white;
}

.face a:visited {
  color: white;
}

/* #hello:hover {
    background-color: #8259B2;
}

#resume:hover {
    background-color: #A059B2;
}

#contact:hover {
    background-color: #5987B2;
}

#projects:hover {
    background-color: #5969B2;
}

#about:hover {
    background-color: #6559B2;
}

#artwork:hover {
    background-color: #59A5B2;
}*/
/*# sourceMappingURL=style.css.map */